*.exe
*.EXE
*.o
*.O
*.obj
*.OBJ
*.bak
*.BAK
*.opj
*.OPJ
*.asv
*.ASV
*.str
*.STR
*.fig
*.FIG
*.prn
*.PRN
Debug
Release

# binaries
bris2meep/bris2meep
TimeSnapshot_IDs
FrequencySnapshot_IDs
probe_IDs

hello
*_automesh
*~
*.pyc
ncpus.txt
tmp.txt
tmp.bat
*.db
*.tif
tmp.in
tmp.sh
*.o[0-9]*
tmp.dat
*.gwl
*.dat
*.zip
*.in
*.orig
*.png
*.jpg
*.fig
*.h5
*.eps
*.out
*.inp
*.geo
*.log
*.gif
*.tgz
*.zip
*.tar.gz
.eric4project
*.e4p
