*.exe
*.EXE
*.o
*.O
*.obj
*.OBJ
*.bak
*.BAK
*.opj
*.OPJ
*.asv
*.ASV
*.str
*.STR
*.fig
*.FIG
*.prn
*.PRN
Debug
Release
bris2meep/bris2meep
snapshot_IDs/snapshot_IDs
hello
*_automesh
*~
*.pyc
ncpus.txt
tmp.txt
tmp.bat
*.db
*.tif
tmp.in
tmp.sh
*.o[0-9]*
tmp.dat
*.gwl
*.dat
*.zip
*.in
